html{
    font-family: "Arial", "Helvetica", "sans-serif","Lato","Helvatica Neue";
}
p {
    color: #5d6660;
    font-size: 200;
    line-height: 24px;
    font-family: "Arial", "Helvetica", "sans-serif","Lato","Helvatica Neue";


}
body{
    background-color: #ffffff;
    margin: 0%;
}
header {
    height: 80px;
    background-color: #ffffff;

}
#header-container {
    width: 80%;
    margin: auto;
}
.col-3{
    width:33%;
    float:left;
}
.logo{
    padding-top: 30px;
}
.menu{
    margin-top: 32px;
}
.menu li {
    list-style-type: none;
    display: inline;
    font: size=.75em;
    color: #8e8e8e;
    padding-right: 15px;
}
.getStarted{
    background-color: #6dc77a;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 20px;
    display: inline-block;
    float : right;
}
.getStarted:hover{
    background-color: #5cbf2a;
}
#top-section-main{
    background-image: url(Images/Friends);
    height: 740px;
    border: none;

}
#top-section-content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
#top-section-content h1 {
    font-size: 3.6em;
    font-weight: 270;
    color: #ffffff;
    text-align: center;
    margin-top: 0%;
    padding-top: 30px;
    margin-bottom: 3%;
}
#top-section-content p {
    font-size: 1.2em;
    font-weight: 3600;
    color: #ffffff;
    text-align: center;
}
.play-button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 50px 0 110px 0;
}
.main-form h6{
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}
.main-form input{
    margin: 0;
    width: 30%;
    height: 40px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    color: #080808;
    border: none;
    padding-left: 15px;
}
.main-form button{
    width: 30%;
    height: 42px;
    font-size: 15px;
    font-family: sans-serif;
    margin: 0;
    font-weight: 100;
    color: #ffffff;
    border: none;
    padding-left: 15px;
    background-color: #6dc77a;

}
#feature-section{
    padding-top: 100px;

}
.feature-section-title{
    width: 70%;
    font-weight: 100;
    text-align: center;
    margin: auto;
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}
.feature-content .col-3 img {
    width: 100%    
}
.feature-content{
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;

}
.feature-content .col-3 p{
    font-size: .9em;
    letter-spacing: 1px;
    font-family: "Helvatica Neue";
    
}
.feature-content .col-3 {
    padding: 9px;
    width: 30%;/*it is used so that the images can be aligned in same line and not pushing down */
   /* This also overrides the col-3 width of 33% */
}
.col-2 {
    width: 48%;
    float: left;
}
#showcase1-container {
    padding-top: 60px;
    background-color: lavender;
    width: 100%;
    clear: both;  
}
.showcase {
    width: 80%;
    margin: auto;
    overflow: auto;

}
.iphone1pic{
    width: 100%;
}
.feature-text{
    padding-top: 300px;
    padding-left: 50px;
}
.section-title{
    font-weight: 200;
    width: 70%;
    margin: auto;
    line-height: 1.5em;
    font-family: "Lato";
}
.section-left{
    padding: 20px 10px 10px 10px ;
    width: 70%;
    margin: auto;
}
#showcase2-container {
    padding-top: 60px;
    background-color: #ffffff;
    width: 100%;
    clear: both;  
}
#call-to-action {
    background-image: url(../CSS/Images/Darkdesk);
    background-position: 50% 50%;
    padding-bottom: 45px;
}
.col-1{
    width: 80%;
    margin: auto;
}
.action-title{
    font-size: 4em;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
    margin-top: 0;
    font-family: "Lato";

}
.col-1 p {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: #ffffff;
    margin: 0;
    padding-bottom: 100px;
    
}
.actionBTN{
    background-color: #6dc77a;
    color: #ffffff;
    font-size: 1em;
    font-weight: 200;
    text-decoration: none;
    padding: 30px 90px 30px 90px;
}
.actionBTN:hover{
    background-color: #5cbf2a;
}
.signupform{
    width: 80%;
    background-color: #f6f8fa;
    margin-right: 200px;
    padding: 0px 50px 10px 50px;
}
.signupform h6 {
    text-align: center;
    padding-top: 15px;
    color: black;
    font-size: .9em;
    
}
.top-margin{
    margin-top: 100px;
    margin-left: 80px;
}
input{
    margin: 0;
    width: 90%;
    font-family: "sans-serif";
    height: 50px;
    font-size: 15px;
    font-weight: 100;
    border: none;
    margin-top: 15px;
}
button{
    margin: 0;
    width: 90%;
    font-family: "sans-serif";
    height: 50px;
    font-size: 15px;
    font-weight: 100;
    border: none;
    margin-top: 15px;
    background-color: #6dc77a;
    color: #ffffff;
}
button:hover{
    background-color: #5cbf2a;
}
footer{
    background-color: #080808;
    clear: both;
    height: 500px;
    background-image: url(Images/Footerbg);
    background-position: 50% 50%;


}
.social-footer{
    width: 33%;
    float: left;
    height: 42%;

}
.social-footer:hover{
    background-color: black;
    opacity: 50%;
}
.centre{
    width: 50px;
    margin: auto;
    padding-top: 60px;
}
.light-logo{
    margin: auto;
}
.copyright{
    font-size: .9em;
    color: #ffffff;
    font-family: "Calibri";
    text-align: center;
    display: block;
    padding-top: 9px;
}